<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>

  <div class="widget-wrap">
    <h3 class="widget-title">联系我/Contact me</h3>
    <div class="widget">
      <ul class="archive-list">
        <li class="archive-list-item" style="font-weight: bold;text-align: center;">E-mail:sxbugcom@gmail.com</li>
        <li class="archive-list-item" style="font-weight: bold;text-align: center;">QQ:1332448784</li>
        <li class="archive-list-item" style="text-align: center;">
          <img src="/css/images/QQ.png" style="height: 250px;">
        </li>

        <li class="archive-list-item" style="text-align: center;">
          <img src="/css/images/WeChat.png" style="height: 250px;">
        </li>
      </ul>
    </div>
  </div>

  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
</aside>