<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>

  <div class="widget-wrap">
    <h3 class="widget-title">联系我/Contact me</h3>
    <div class="widget">
      <ul class="archive-list"><li class="archive-list-item"><a class="archive-list-link" href="/archives/2023/09/">九月 2023</a></li></ul>
    </div>
  </div>

  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
</aside>